<div class="container">
	<% @requests.each do |request| %>
	<div class="col-md-3-centered  pedidos">
		<ul class="list-group">
			<li class="list-group-item"><strong>MESA</strong> <span class="badge"> <%= request.table.number %> </span></li>
			<li><br></li>
			<li>COMENTARIO</li>
			<li>---------------------</li>
			<li><%= request.comment %></li>
			<li>---------------------</li>
			<li >PRODUCTOS</li>
			<% request.orders.each do |order| %>
			<li><%= order.product.name %></li>
			
			<% end %>
		</ul>
	</div>

	<% end %>

</div>




<script>setTimeout(function(){
   window.location.reload(1);
}, 5000);</script>


