
<tr  id="order_<%= order.id %>">
	<td><%= image_tag(order.product.photo, size: "60x40") %></td>
	<td><%= order.product.name %></td>
	<td>
		<div>
			<%= link_to ''.html_safe, order,method: :delete, remote: true, :class => "btn btn-danger glyphicon glyphicon-minus	"%>
		</div>

		
	</td>
</tr>
