
<tr id="order_<%= order.id %>">
	<td><%= image_tag(order.product.photo, size: "60x40") %></td>
	<td><%= order.product.name %></td>
	<td>
	<div>
		<%= link_to 'Eliminar', order,method: :delete, remote: true %>
	</div>
	</td>
</tr>
