<div class="col-md-6">

      <table class="table table-striped table-hover " style="border-left: solid 0.5px grey; ">
        <thead>
          <tr> 
           <h3></h3> 
           <br>
         </tr>
       </thead>
       <tbody>
        
       </tbody>
     </table>
   </div>




 </div>